<div class="row mx-auto bg-light">
    <div *ngIf="err || notification">
        <div *ngIf="err" class="alert alert-danger alert-dismissible fade show" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
                aria-label="Warning:">
                <path
                    d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
            <strong>{{err}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div *ngIf="notification" class="alert alert-success alert-dismissible fade show" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
                aria-label="Warning:">
                <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </svg>
            <strong>{{notification}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <input type="hidden" [(ngModel)]="webUser.id" [value]="webUser.id" />
    <div class="row">

        <mat-form-field class="col-md-5">
            <mat-label class=" text-black">First Name</mat-label>
            <input #form [(ngModel)]="webUser.firstName" [value]="webUser.firstName" matInput
                class="col-md-10 text-dark" placeholder="First Name" required="First Name is required" />
        </mat-form-field>
    </div>

    <div class="row">

        <mat-form-field class="col-md-5">
            <mat-label class=" text-black">Last Name</mat-label>
            <input #form [(ngModel)]="webUser.lastName" [value]="webUser.lastName" matInput
                class="col-md-10 text-dark" placeholder="Last Name" required="Last Name is required" />
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field class="col-md-5">
            <mat-label class=" text-black">Email</mat-label>
            <input #form [(ngModel)]="webUser.email" [value]="webUser.email" matInput
                class="col-md-10 text-dark" placeholder="Email" required="Email is required" (email)="form.innerHTML"/>
            
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field class="col-md-5">
            <mat-label class=" text-black">Phone Number</mat-label>
            <input #form [(ngModel)]="webUser.phoneNumber" [value]="webUser.phoneNumber" matInput
                class="col-md-10 text-dark" placeholder="Phone" required="Phone is required" (email)="form.innerHTML"/>
            
        </mat-form-field>
    </div>
    
    <div class="form-row mt-2">
        <button type="submit" (click)="update()"
            [disabled]="!webUser.firstName|| !webUser.lastName|| !webUser.email "
            class="col-md-5 btn shadow-lg btn-primary">
            Save
        </button>
        <input type="reset" value="Cancel" class="col-md-5 btn btn-warning shadow-lg offset-2" />
    </div>
</div>