/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.data-container{
    position:relative;
    bottom: 0;
    top: 50px;
    
}
.td{
  font-size: 14px;
  font-family:Arial, Helvetica, sans-serif;
  text-align: left;
  font-style:oblique;
  
    
}
.table-container {
    float:none;
    position:relative;
    min-height: 200px;
    max-width:none;
    overflow:visible;
    font-size: 18px;
    font-weight: bold;
  }
  .loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .rate-limit-reached {
    max-width: 360px;
    text-align: center;
  }
  /* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.imageThumbnail{
  height:200px;
  width:auto;
}