<div class="container-fluid m-0 pt-1">

    <div class="row pb-1">

        <div class="col-md-12">
            <div id="carouselSlide" class="carousel carousel-dark slide" data-bs-ride="carousel" data-interval="5000">
                <ol class="carousel-indicators">
                    <li data-bs-target="#carouselSlide" data-bs-slide-to="0" class="active" aria-current="true"
                        aria-label="Slide 1"></li>
                    <li data-bs-target="#carouselSlide" data-bs-slide-to="1" aria-label="Slide 2"></li>
                    <li data-bs-target="#carouselSlide" data-bs-slide-to="2" aria-label="Slide 3"></li>
                </ol>
                <div class="carousel-inner img-thumbnail fs-2" style="max-height:auto">
                    <div class="carousel-item active">
                        <img src="/assets/bit_cover.png" class="img-fluid" alt="Slide image one">
                        <div class="carousel-caption d-none d-md-block">

                            <h2>Bit Tech</h2>
                            <p>Your first Choice</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/bit_cover_2.png" class="img-fluid" alt="slide image two">
                        <div class="carousel-caption">

                            <h2>Bit Tech</h2>
                            <p>Let us find your home</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/bit_cover_3.png" class="img-fluid" alt="Slide image Three">
                        <div class="carousel-caption d-none d-md-block">
                            <h2>Bit Tech</h2>
                            <p>Simple and reliable</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" data-bs-target="#carouselSlide" data-bs-slide="prev">
                    <span class="visually-hidden">Previous</span>
                    <span class="carousel-control-prev-icon" [hidden]="true"></span>
                </a>
                <a class="carousel-control-next" data-bs-target="#carouselSlide" data-bs-slide="next">
                    <span class="carousel-control-next-icon" [hidden]="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>
            </div>
        </div>
    </div>



</div>
<div class="row mt-5 mx-3">
    <div class="col-md-6">

        <h1 style="font-size: xx-large;">Bit Rental System</h1>
        <div style="font-size: x-large;" class="font-monospace">
            <p class="lead py-3 text-md-start mx-5">Bit Rental System was developed by Ethiopian technology and research
                company
                called <b>Bit Tech</b>.

                We provide a rental system for users with maximum reliablity and portability.

            </p>
        </div>
        <section>
            <h1>Features</h1>
            <li class="m-2 py-3  mx-5"><em class="fw-bold">Fast and Reliable</em> -
                search and order what you need at any time any where.
            </li>
            <li class="m-2 py-3  mx-5"><em class="fw-bold">Less Service Fee</em> -
                search and order what you need at any time any where.
            </li>
            <li class="m-2 py-3  mx-5"><em class="fw-bold">Locality</em> -
                get your property of choice availabel around your local location.
            </li>
        </section>
        <video width="640" height="360" autoplay loop>
            <source src="/assets/bit_vid.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="col-md-6 my-3">

        <img src="/assets/bit_side.png" width="640" height="360" />
        <section style="font-size: x-large;" class="text-dark-emphasis font-monospace">
            <h1>About</h1>
            <ul>
                <li class="m-2 py-3  mx-5"><em class="fw-bold">Why this application was developed?</em> -
                    It is obvious that most of our people live in a rental properties and I'm one of
                    them. So I feel all the tension of not geting a property of my desire and based on
                    my financial capability and also the unfair charging and scams of the brokers.

                </li>
                    <li  class="m-2 py-3  mx-5"> 
                        <a target="_blank" href="https://www.linkedin.com/in/eskindir-haileliul-412136244">LinkedIn</a></li>
                    <li  class="m-2 py-3  mx-5"> <a target="_blank" href="https://github.com/EskindirH">Git Hub</a></li>
                                
            </ul>
        </section>
    </div>
</div>